.App {
  text-align: center;
  /* background-image: url('background-img.png'); */
}

body {
  background-color: rgb(177, 228, 245);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: left;
  height: 30%;
  color: rgb(177, 228, 245);
}

header h1 {
  text-align: center;
  color: rgb(108, 79, 237);
  border: 3px solid rgb(108, 79, 237);
  width: 350px;
  height: 60px;
  padding-top: 15px;
  margin-left: 540px;
  margin-bottom: 120px;
}

.form {
  text-align: center;
  height: 50px;
  color: rgb(145, 99, 14);
}

.form-label {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 620px;
}
.form button {
  margin-top: 8px;
}

.location-cards {
  margin: 75px;
  text-align: center;
  color: rgb(245, 242, 238);
}

.card-text {
  margin: 30px;
  color: rgb(228, 71, 108);
}

Footer {
  margin-top: 50px;
text-align: center;
color:rgb(177, 228, 245);
background-color: rgb(37, 33, 27);
height: 30px;
}